* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  border-radius: 2%;
}

section {
  border-radius: 2%;
}

body {
  font-family: Georgia, 'Times New Roman', serif;
  background-color: black;
  color: white;
}

.container {
  width: 420px;
  margin: 30px auto;
  padding: 10px;
  background-color: #011320;
  border-radius: 8px;
  border: solid white 8px;
}

.voltar {
  display: inline-block;
  margin-bottom: 25px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

h1 {
  font-size: 26px;
  margin-bottom: 5px;
}

h3 {
  font-size: 15px;
  margin-bottom: 18px;
}

.post-card {
  background: #011320;
  border: 4px solid #ddd;
  padding: 15px;
  margin-bottom: 18px;
}

.post-card h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

.post-card p {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 25px;
  font-weight: bold;
}

.post-info {
  border-top: 2px solid #333;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
}

.comentario-form {
  background: #011320;
  border: 4px solid #ffffff;
  padding: 12px;
  margin-bottom: 18px;
}

.comentario-form h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 130px;
  resize: none;
  padding: 15px;
  border: 4px solid #ffffff;
  border-radius: 8px;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: bold;
  outline: none;
  color: white;
  background-color: #011320;
}

button {
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', serif;
}

#btnResponder {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  background-color: #108669;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px;
  border: 4px solid white;
}

#btnResponder:hover {
  background-color: #9faee4;
}

.comentarios-area {
  background: #011320;
  padding: 10px;
  border-radius: 8px;
  border: solid 4px white;
}

.comentarios-topo {
  background: rgb(103, 109, 122);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  margin-bottom: 10px;
  color: white;
  border: solid white 4px;
  border-radius: 4px;
}

.botao-ferramenta {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  padding: 4px 8px;
}

.botao-ferramenta:hover {
  background-color: #d1d1d1;
  border-radius: 4px;
}

.painel-controle {
  background: #011320;
  border: 4px solid #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.painel-controle label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.painel-controle input,
.painel-controle select {
  background-color: #108669;
  width: 100%;
  padding: 8px;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  border: 2px solid #ffffff;
  outline: none;
  color: white;
}

.painel-controle input:focus,
.painel-controle select:focus {
  border-color: #ffffff;
}

.oculto {
  display: none;
}

.resumo-filtros {
  background: rgba(40, 44, 53, 0.527);
  border: 2px solid #ffffff;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.comentario-card {
  background: rgba(40, 44, 53, 0.527);
  padding: 12px;
  margin-bottom: 12px;
  position: relative;
  color: white;
  border-radius: 8px;
  border: solid white 4px;
}

.comentario-header {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

.comentario-conteudo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  background: #ffffff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comentario-texto {
  font-size: 14px;
  font-weight: bold;
  flex: 1;
}

.info-comentario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(255, 255, 255)
}

.btn-curtir {
  padding: 6px 10px;
  background-color: rgba(40, 44, 53, 0.527);
  border: 2px solid #ffffff;
  border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5%;
}

.btn-curtir:hover {
  background-color: #dcdcdc;
}

.btn-curtir:active {
  transform: scale(1.2);
  background-color: #0077cc;
  color: white;
}

.acoes {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.btn-editar,
.btn-excluir {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.btn-editar {
  color: #0077cc;
}

.btn-excluir {
  color: #cc3333;
}

.sem-comentarios {
  text-align: center;
  padding: 15px;
  font-weight: bold;
  color: #ffffff;
  background: #011320;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    margin: 10px auto;
  }

  .post-info {
    font-size: 11px;
    gap: 5px;
  }

  #btnResponder {
    font-size: 20px;
  }
}